html, body {
	background-color: #E6E6E6;
	height: 100%;
	color: #FFF;
}

.headname {

}

.navbarcontainer {
	padding-left: 50px;
}

.subhead {
	padding-left: 25px;
	padding-right: 25px;
}

#footer {
	text-align: center;
	padding-top: 10px;
	color: #f8f8f8;
	background-color: #064660;
	margin-top: 5px;
}

.navbar-default .navbar-toggle {
	border-color: #e6e6e6;
}

#pagetop {
	height: 150px;
	background-color: #1e8fbe;
	margin: 0px;
	padding: 0px;
}

#bodywrapper {
	min-width: 1199px;
	width: 75%;
	margin: auto;
}

.spacer {
	height: 5px;
	background-color: #1D3;
}

div {
	font-size: 16px;
}

#bodywrapper:after {

}

#footer img {
	display: inline-block;
}

.container {
	background-color: #1e8fbe;
	min-height: 100%;
}

.content-bit {
	display: none;
}

.content-bit:target {
	margin-top: -200px;
	padding-top: 200px;
	display: block;
}

.jumbotron {
	background-color: #1e8fbe;
	text-align: center;
	padding: 0px;
	margin-bottom: 5px;
}

.tbox {
margin-right:5px
	
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 35px;
	text-align: center;
	background-color: #1E8FBE;
	background-color: #FFF;
	color: #999;
	cursor: pointer;
  
}
.tbox h4 {
	margin-top: 0;
	padding-top: 10px;
	color: #999;
	margin: 0;
	border-bottom: 0px;
}
.tbox.active h4 {
	color: #00431D;
	border-bottom: 1px solid #00431D;
	color: #008AB0;
}
.tbox.active {
	background-color: #82CD73;
	color: #00431D;
	background-color: #FFF;
	color: #009F18;
}


.about-head {
	background-color:  #82CD73;
	color:#333;
          margin-bottom:25px;
}

#about-text {
  border: 2px solid #808080;
  font-size: 15px;
}

.about-header {
	background-color: rgba(166, 208, 231, 1);
	color: #333;
	padding: 10px 0px;
	margin-bottom: 5px;
  border: 2px solid #808080;
}

h5, h4 {
	text-align: center;
	font-size: 22px;
}

#main-text-1 {
  border: 2px solid #808080;
  
}

#main-text-3 {
	border: 2px solid #808080;
}

#main-text-2 {
  border: 2px solid #808080;
}

.row {
	margin: 0px;
}

h3 {
	margin-top: 0;
	padding-bottom: 3px;
}

/*
.content-bit p {
	margin-left: 2em;
}
*/

img {
	/*display: block;*/
	margin: auto;
}

.page-header {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.navbar {
	height: 75px;
	background-color: #064660;
	margin-bottom: 5px;
}

.nav {
	position: absolute;
	bottom: 0;
	right: 100px;
	font-size: 16px;
}

.navbar-nav>li>a {
	padding: 10px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #41C76A;
	color: #555555;
}
.navbar-default .navbar-nav > li > a {
	color: #41C76A;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFF;
}

.carousel {
	padding: 0px;
	margin: 0px;
}

.holder {
	width: 90%;
	margin: auto;
	background-color: #1e8fbe;
	margin-bottom: 15px;
}
/*  -- Would be used for styling the dropdown*/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>ul>li>a {
	background-color: #41C76A;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: #41C76A;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>ul>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	background-color: #41C76A;
	color:#555;
}

.in, .collapsing, .dropdown-menu {
	background-color: #064660;
	color: #41C76A;
}

.dropdown-menu>li>a {
	color: #41C76A;
}


.dropdown-menu {
	border: 0px;
}
/*
.navbar-nav>li>.dropdown-menu {
	margin-top: 6px;
} */

.full-img {
	margin-left: -15px;
}

.row-img {
	width: 100%;
	max-width: 360px;
	max-height: 360px;
}
.img-tall {
	width: auto;
	height: 100%;
}

#about {
	padding-top: 10px;
	padding-bottom: 10px;
}

.row-even {
	background-color: #50b2e9;
	color: #333;
	padding: 10px 0px;
	margin-top: 5px;
}
.row-odd {
	padding:10px 0px;
	margin-top: 5px;
	color: #333;
	background-color: rgba(166, 208, 231, 1);
}
.row-first {
	padding-top: 10px;
	margin-top: 0;
}
.row-last {
	padding-bottom: 10px;
}

@media (max-width: 767px) { /* Styling for small screens */
	.right-text {
		text-align: center;
	}
	.left-text {
		text-align: center;
	}
	.visible-xs {
		text-align: center;
	}
	.row-img {
		margin-bottom: 10px;
	}
	.subhead {
		padding-left: 0px;
		padding-right: 0px;
	}
	.tbox {
		border: 0px !important;
	}
	#main-text-2 {
		margin: 5px 0px;
	}
}
@media (min-width: 768px) {
	.tbox {
		display: table-cell;
		float: none;
	}
}

@media (max-width: 768px) {
	.nav {
		margin-top: 0px;
		margin-bottom: 0px;
		position: static;
		bottom: 0;
		right: 0;
		font-size: 16px;
	}
	
	.navbar-brand  {
		z-index: 50;
	}
	
	.in, .collapsing, .dropdown-menu {
		border-top: none;
		margin-top: 30px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: #428bca;
		color: #FFF;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #41C76A;
	}
}
@media (max-width: 1199px) {
	#bodywrapper {
		min-width: 100%;
		width: 100%;
	}
}
