/* Direct Styles */
html,body {
	background: #E6E6E6;
	height: 100%;
	color: #000;
}
div {
	font-size: 16px;
}
img {
	margin: auto;
}
h3 {
	margin-top: 0;
	padding-bottom: 3px;
}
h4, h5 {
	text-align: center;
	font-size: 22px;
}
a:link,a:active,a:visited {
	outline: none;
}

/* Template Styles */
.container {
	background-color: #1e8fbe;
	min-height: 100%;
}
#bodywrapper {
	min-width: 1199px;
	width: 75%;
	margin: auto;
	background-color: #FFF;
}
.icon {
	width: 32px;
	height: 32px;
	fill: #D7DF23;
}
#Home  {
	float: none;
	display: block;
	position: absolute;
	height: 100px;
	left: 30px;
	z-index: 50;
}
#social-media {
	position: relative;
	background: linear-gradient(#003D56,rgba(0, 38, 54, 1));
	height: 120px;
	text-align: right;
	padding: 5px;
}
.content-bit {
	display: none;
}
.content-bit:target {
	margin-top: -200px;
	padding-top: 200px;
	display: block;
}
#footer {
	text-align: center;
	padding-top: 10px;
	color: #f8f8f8;
	background-color: #003D56;
	background-color: #E6E6E6;
	color: #000;
}
#footer img {
	display: inline-block;
}

/* Navbar Styles*/
.navbarcontainer {
	padding-left: 50px;
}
.navbar-default .navbar-toggle {
	border-color: #e6e6e6;
}
.navbar {
	height: 160px;
	background-color: #D7DF23;
	margin-bottom: 0px;
	border: 0px;
}
.nav {
	position: absolute;
	bottom: 0;
	right: 100px;
	font-size: 16px;
}
.navbar-nav>li>a {
	padding: 10px 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: rgba(127, 190, 225, 1);
	color: #003D56;
}
.navbar-default .navbar-nav > li > a {
	color: #003D56;
}

.navbar-fixed-top {
	min-width: 1199px;
	width: 75%;
	margin: auto;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #003D56;
}
/*  -- Would be used for styling the dropdown*/
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>ul>li>a {
	background-color: rgba(127, 190, 225, 1);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: rgba(127, 190, 225, 1);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>ul>li>a:hover {
	background-color: rgba(127, 190, 225, 1);
	color: #003D56;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	background-color: #D7DF23;
}
.in, .collapsing, .dropdown-menu {
	background-color: rgba(127, 190, 225, 1);
	color: #003D56;
}
.dropdown-menu>li>a {
	color: #003D56;
}
.dropdown-menu {
	border: 0px;
}
#xsbutton {
	margin-top: 3px;
}

/* Common Styles (used on multiple pages) */
.subhead {
	padding-left: 25px;
	padding-right: 25px;
}
.row {
	margin: 0px;
}
.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}
.full-img {
	margin-left: -15px;
}
.row-img {
	width: 100%;
	max-width: 360px;
	max-height: 360px;
}
.img-tall {
	width: auto;
	height: 100%;
}
.row-even {
	background-color: #50b2e9;
	color: #333;
	padding: 10px 0px;
	margin-top: 5px;
}
.row-odd {
	padding:10px 0px;
	margin-top: 5px;
	color: #333;
	background-color: rgba(166, 208, 231, 1);
}
.row-first {
	padding-top: 10px;
	margin-top: 0;
}
.row-last {
	padding-bottom: 10px;
}

/* Home Styles */
#social-feeds {
	padding: 40px 0px;
	background-color: rgba(127, 190, 225, 1);
	border-top: 10px solid #E6E6E6;
}
.jumbotron {
	background-color: #1e8fbe;
	text-align: center;
	padding: 0px;
	margin-bottom: 50px;
}
.carousel {
	padding: 0px;
	margin: 0px;
}
.page-header {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}
#main-text-2 {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}
.tbox {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	background-color: #FFF;
	color: #999;
	cursor: pointer;
}
.tbox h4 {
	font-size: 26px;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	color: #999;
	border-bottom: 1px solid transparent;
}
.tbox.active h4 {
	border-bottom: 1px solid transparent;
	color: #008AB0;
}
.tbox.active {
	color: #009F18;
}

/* About Styles */
.about-head {
	background-color:  #82CD73;
	color:#333;
	margin-bottom:25px;
}
#about-text {
  border: 2px solid #808080;
  font-size: 15px;
}
.about-header {
	background-color: rgba(166, 208, 231, 1);
	color: #333;
	padding: 10px 0px;
	margin-bottom: 5px;
	border: 2px solid #808080;
}

/* XS screens */
@media (max-width: 767px) {
	.right-text {
		text-align: center;
	}
	.left-text {
		text-align: center;
	}
	.visible-xs {
		text-align: center;
	}
	.row-img {
		margin-bottom: 10px;
	}
	.subhead {
		padding-left: 0px;
		padding-right: 0px;
	}
	.tbox {
		border: 0px !important;
	}
	#main-text-2 {
		margin: 5px 0px;
	}
}
/* SM screens and larger */
@media (min-width: 768px) {
	.tbox {
		display: table-cell;
		float: none;
	}
}

@media (max-width: 768px) {
	.nav {
		margin-top: 0px;
		margin-bottom: 0px;
		position: static;
		bottom: 0;
		right: 0;
		font-size: 16px;
	}
	
	.in, .collapsing, .dropdown-menu {
		border-top: none;
		margin-top: 30px;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: #428bca;
		color: #FFF;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #41C76A;
	}
}
@media (max-width: 1199px) {
	#bodywrapper {
		min-width: 100%;
		width: 100%;
	}
	
	.navbar-fixed-top {
		margin-top: -10px;
		min-width: 100%;
		width: 100%;
	}
}