html, body {
	background-color: #002543;
	height: 100%;
	color: #FFF;
}

.headname {

}

.subhead {
	padding-left: 25px;
	padding-right: 25px;
}

#footer {
	text-align: center;
	padding-top: 10px;
	color: #f8f8f8;
	background-color: #002543; /*#003153;*/
}

#pagetop {
	height: 150px;
	background-color: #1e8fbe;
	margin: 0px;
	padding: 0px;
}

#bodywrapper {
	background-color:#1e8fbe;
	width: 65%;
	margin: auto;
}

.spacer {
	height: 5px;
	background-color: #1D3;
}

div {
	font-size: 18px;
}

#bodywrapper:after {

}

#footer img {
	display: inline-block;
}

.container {
	background-color: #1e8fbe;
	min-height: 100%;
}

.content-bit {
	display: none;
}

.content-bit:target {
	margin-top: -200px;
	padding-top: 200px;
	display: block;
}

.jumbotron {
	background-color: #1e8fbe;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
}

.tbox {
	margin-top: 15px;
	margin-top: 0px;
	padding-bottom: 35px;
}
.tbox h4 {
	margin-top: 0;
	padding-top: 10px;
}

h5, h4 {
	text-align: center;
	font-size: 22px;
}

#main-text-two {
	background-color: #FFAD00;
}

#main-text-one {
	background-color: #F94D00;
}

#main-text-three {
	background-color: #FF8500;
}

.row {
	margin: 0px;
}

h3 {
	margin-top: 0;
	padding-bottom: 3px;
}

/*
.content-bit p {
	margin-left: 2em;
}
*/

img {
	display: block;
	margin: auto;
}

.page-header {
	border-bottom: 1px solid #FFF;
	color: #FFF;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.navbar {
	height: 50px;
	/*background-color: #002543;*/
	margin-bottom: 0;
}

.navbar-default {
	border-bottom: 5px solid #1D3;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	border-bottom: 5px solid #1D3;
	height: 50px;
}

.carousel {
	padding: 0px;
	margin: 0px;
}

.holder {
	width: 90%;
	margin: auto;
	background-color: #1e8fbe;
	margin-bottom: 15px;
}
/*  -- Would be used for styling the dropdown
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>ul>li>a {
	background-color: #222;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>ul>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
	background-color: #000;
	color:#FFF;
}

.in, .collapsing, .dropdown-menu {
	background-color: #222;
	color: #777;
}

.dropdown-menu>li>a {
	color: #777;
}
*/
.dropdown-menu {
	border: 0px;
}

.full-img {
	margin-left: -15px;
}

.row-img {
	width: 100%;
	max-width: 360px;
	max-height: 360px;
}
.img-tall {
	width: auto;
	height: 100%;
}

#about {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* DARK VERSION */
.row-even {
	background-color: #50b2e9;
	color:#333;
	padding: 10px 0px;
}
.row-odd {
	padding:10px 0px;
}
.row-first {
	padding-top: 10px;
}
.row-last {
	padding-bottom: 10px;
}
/* LIGHT VERSION */
/*.row-even {
	background-color:#BBB;
}*/

@media (max-width: 767px) { /* Styling for small screens */
	.right-text {
		text-align: center;
	}

	.left-text {
		text-align: center;
	}
	
	.visible-xs {
		text-align: center;
	}
	
	.row-img {
		margin-bottom: 10px;
	}
	
	.subhead {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (min-width: 768px) {
	.tbox {
		display: table-cell;
		float: none;
	}
}
@media (max-width: 1199px) {
	#bodywrapper {
		width: 100%;
	}
}