
html, body {
	background-color: #E6E6E6;
	height: 100%;
	color: #FFF;
}

.headname {

}

.subhead {
	padding-left: 25px;
	padding-right: 25px;
}

#footer {
	text-align: center;
}


.tbox {
	margin-top: 15px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 35px;
	text-align: center;
	background-color: #FFF;
	color: #999;
	cursor: pointer;
}
.tbox h4 {
	color: #999;
	margin: 0;
	border-bottom: 0px;
}
.tbox.active h4 {
	color: #008AB0;
}
.tbox.active {
	background-color: #FFF;
	color: #009F18;
}